name: ftps_flutter_server
description: A simple FTPS file sharing server application built with Flutter
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.1.1
  permission_handler: ^11.0.1
  file_picker: ^6.1.1
  shared_preferences: ^2.2.2
  network_info_plus: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
